{% extends "index.html" %}
{% block title %}{{ term.name }} | {{ config.title }}{% endblock title %}
{% block body_class %}
<body class = "category-page category-{{ term.name | slugify | trim }}">
{% endblock body_class %}

{% block content %}
<section id="content">
  {% block content_title %}
  <h1>{{ term.name }}</h1>
  {% endblock %}
  <div class="description">
    <p class="summary">
      {{ taxonomies::get_description_from(term=term) }}
    </p>
  </div>

<ul class="cols">
{% for item in term.pages %}
  <li>
    {{ post::card(item=item) }}
  </li>
{% endfor %}
</ul>
</section><!-- /#content -->
{% endblock content %}
