{% import "macros/solar.html" as solar -%}
{% import "macros/head.html" as head -%}
{% import "macros/header.html" as header -%}
{% import "macros/post.html" as post -%}
{% import "macros/lists.html" as lists -%}
{% import "macros/pagination.html" as pagination -%}
{% import "macros/taxonomies.html" as taxonomies -%}
{% import "macros/footer.html" as footer -%}

<!DOCTYPE html>
<html lang="{{ config.default_language }}"> {# TODO update to lang #}
    <head>
      {% block general_meta -%}
        {{ head::general_meta() }}
      {% endblock general_meta -%}

      {# TODO block title outside or inside: conservative approach rn #}
      <title>{% block title %}{{ config.title }}{% endblock title %}</title>

      {% block css -%}
      <link rel="stylesheet" href="{{ get_url(path='style.css', trailing_slash=false) }}">

      {%- if config.extra.custom_css is defined -%}
      <link rel="stylesheet" href="{{ get_url(path='custom.css') }}">
      {% endif %}
      {% endblock css -%}

      {%- block rss -%}
      {{ head::rss() }}
      {%- endblock rss -%}

      {# TODO math block with katex support #}
    </head>

    {% block body_class %} {# TODO looks like a hacky move: change with support for custom classes #}
    <body>
    {% endblock body_class %}

    {% if config.extra.solar %}
    {{ solar::charge_indicator() }}
    {% endif %}
    <main>
      <header class="top">
        <h1><a href="{{ config.base_url }}/">{{ config.title }}</a></h1>
        <div class="subtitle">
          {% if config.extra.solar %}
          <a href="{{ config.base_url }}/power.html">{{ config.description }}{{ header::sun_icon() }}</a>
          {% else %}
          <span>{{ config.description }}</span>
          {% endif %}
        </div>
        <nav id="menu">
          <div id="menu-s">menu</div>
          {{ header::main_menu() }}
        </nav>
        <!-- /#menu -->
      </header>
      <!-- /#banner -->

      {% block content %}
      <section id="content">
        {% block content_title %}{% endblock %}

        {{ lists::cover(page=paginator.pages.0) }}

        {{ lists::recent(pages=paginator.pages) }}

        {# lists::popular(pages=paginator.pages) #}
        {# the actual website doesn't display them: maybe it's a not fully developed feature #}
      </section><!--./content-->

      {% block pagination %}
      {% if paginator.previous or paginator.next %}
      {{ pagination::paginate() }}
      {% endif %}
      {% endblock pagination %}

      {% endblock content %}

      <footer id="content-info" class="body">
        <h2>
          <a href="{{ config.base_url }}/">{{ config.title }}</a>
        </h2>
        <div class="dashboard">
          <ul class="cols">
            <li>
              {{ footer::server_stats() }}
            </li>
            <li>
              {{ footer::forecast() }}
            </li>
            <li>
              {{ footer::info() }}
            </li>
            <li>
              {{ footer::contact() }}
            </li>
          </ul>
        </div>
      </footer>
      <!-- /#content-info -->
    </main>
    {{ solar::script() }}
  </body>
</html>
